@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-950 text-slate-300 font-mono;
        background-image:
            linear-gradient(rgba(0, 243, 255, 0.03) 1px, transparent 1px),
            linear-gradient(90deg, rgba(0, 243, 255, 0.03) 1px, transparent 1px);
        background-size: 30px 30px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-tech text-white uppercase tracking-wider;
    }
}